* {
  box-sizing:border-box;
}

html,
body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight:400;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight:200;
}

.container {
  padding:2% 5%;
}

pre {
  display:block;
}
